.root {
  &:has(div[data-state="active"][data-value="preview"]) {
    overflow: auto;
  }
}

.parentContainer {
  container-type: inline-size;
}

.runGroupConditional {
  @container (width > 475px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.participantBattleData {
  @container (width > 350px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
