.parentContainer {
  container-type: inline-size;
}

.runGroupConditional {
  @container (width > 500px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}
